.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: black;
}
