/* Base slider track */
.slider {
  appearance: none; /* remove default styling */
  width: 200px;
  height: 6px;
  background: #b9b1b1;
  border-radius: 5px;
  outline: none;
}

/* Thumb (the draggable circle) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #85169b;
  cursor: pointer;
  transition: background 0.3s;
}

.slider::-webkit-slider-thumb:hover {
  background: #a70d0d;
}

/* For Firefox */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}
